@media (prefers-color-scheme: dark) {
    :root {
        --bg_col: #111111;
        --text_normal: #cfd3db;
        --text_strong: #ffffff;
        --text_link: #59a1ee;
    }
}

@media (prefers-color-scheme: light) {
    :root {
        --bg_col: #ffffff;
        --text_normal: #202026;
        --text_strong: #000000;
        --text_link: #0e75e3;
    }
}

body {
    color-scheme: light dark;
    width: min(600px, 93%);
    padding: 2rem 0;
    margin: auto;
    background-color: var(--bg_col);
    font-family: FreeSans, 'Liberation Sans', 'Nimbus Sans', -apple-system, BlinkMacSystemFont, Roboto, 'Segoe UI', 'Helvetica Neue', sans-serif;
    color: var(--text_normal);
    line-height: 1.45;
}

section {
    margin: 2rem 0;
}

a {
    color: var(--text_link);
    text-decoration: underline;
    text-underline-offset: 4px;
}

p {
    margin: 0.5rem 0 1rem 0;
    text-align: justify;
    hyphens: auto;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: var(--text_strong);
    margin-bottom: 0.5rem;
}

b,
strong,
li::marker {
    color: var(--text_strong);
}

small {
    font-size: 14px;
    color: gray;
}

ul,
ol {
    padding-left: 1rem;
    margin: 0.5rem 0 1rem 0;
}

nav {
    display: flex;
    gap: 0.75rem;
}

table {
    width: 100%;
}
table caption {
    text-align: left;
}
