:root {
    --primary-bg: #5e666d;
}

*::selection {
    color: #ff510e;
    background: black;
    box-shadow: 2px 2px 0px #ff510e;
}

a, a:visited {
    color: white;
    text-decoration: none;
}

a:hover {
    color: #ff510e;
    background: black;
    box-shadow: 2px 2px 0px #ff510e;
}

body {
    background-color: var(--primary-bg);
    font-family: "JetBrains Mono";
    font-style: normal;
    color: white;
    line-height: 1.75;
}

main {
    max-width: 540px;
    margin: 3rem auto;
}

nav a {
    padding: 0 0.8em;
}

nav a:hover {
    color: white;
    background: none;
    box-shadow: none;
}

.fa-brands, .fa-solid {
    scale: 1.5;
}

.fa-key {
    scale: 1.4;
}

main header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1rem;
}

main h1 {
    font-size: 1.5rem;
    font-weight: bold;
    margin: 0;
    text-decoration: underline dotted 2px;
    text-underline-offset: 4px;
}

#sec-1 i {
    display: block;
    text-align: center;
    font-style: italic;
    opacity: 0.4;
}

/* for phones and smaller screens */
@media screen and (max-width: 540px) {
    main header {
        flex-direction: column;
        gap: 10px;
        text-align: center;
    }
}
